.note {
    color: #000;
    background: #ffc;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    font-family: cursive;
    border: none;
    margin: 10px;
    font-family: cursive;
}

.note:hover,
.note:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.note .note-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.note .note-text {
    font-size: 1rem;
}